.comic-detail-container {
  margin: 50px auto 0;
  font-size: 18px;
  width: 90%;

  .comic-detail-main{
    overflow: hidden;
    height: 350px;
  }

  .detail-title {
    margin-top: -20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;

    h1 {
      font-size: 28px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      margin: 0 0 11px;
    }

    h2 {
      font-size: 18px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.56);
    }
  }

  .el-row{
    margin-top: 10px;
  }

  .el-col {
    text-align: left;
    margin: 10px 0;

    i{
      margin-right: 10px;
    }
  }
  article{
    color: rgba(0,0,0,.56);
  }

  .detail-recommend{


    .recommend-title{
      margin: 0 0 20px;
      font-size: 24px;
      font-weight: 400;
      color: rgba(0,0,0,.87);
    }

  }
}
.comic-list-image {
  width: 200px;
  height: 300px;
  border-radius: 5px;
}
.comic-list-detail {
  margin-left: 10px;
  font-size: 12px;

  h5 {
    margin: 5px 0;
  }
}
.el-aside {
  overflow: hidden;
}
