.comic-detail-container {
  margin: 50px auto 0;
  font-size: 18px;
  width: 90%;

  .comic-detail-main {
    overflow: hidden;
    height: 350px;
  }

  .detail-title {
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;

    h1 {
      font-size: 28px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      margin: 0 0 11px;
    }

    h2 {
      font-size: 18px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.56);
    }
  }

  .el-row {
    margin-top: 10px;
  }

  .el-col {
    text-align: left;
    margin: 10px 0;

    i {
      margin-right: 10px;
    }
  }
  article {
    color: rgba(0, 0, 0, 0.56);
  }

  .detail-recommend {
    .el-main {
      margin-top: 15px;
    }

    .recommend-title {
      margin: 0 0 20px;
      font-size: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
    }

    .name {
      text-align: center;
      font-size: 18px;
      margin: 5px 0;
    }
    .time {
      font-size: 13px;
      color: #999;
    }
  }
}
.comic-list-image {
  width: 200px;
  height: 300px;
  border-radius: 5px;
}
.comic-list-detail {
  margin-left: 10px;
  font-size: 12px;

  h5 {
    margin: 5px 0;
  }
}
.el-aside {
  overflow: hidden;
}
// 评论
.detail-comment-img {
  width: 75px;
  height: 75px;
  display: inline-block;
}
.detail-comment-content {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  overflow: hidden;

  h5 {
    color: #6d757a;
  }
  p {
    line-height: 20px;
    padding: 2px 0;
    font-size: 14px;
    text-shadow: none;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
  }
  .detail-comment-info {
    color: #99a2aa;
    font-size: 12px;
    line-height: 26px;

    .detail-comment-vote {
      margin-left: 15px;
      cursor: pointer;
      display: inline-block;
    }

    .detail-comment-vote .svg-icon {
      width: 16px;
      height: 16px;
    }

    .detail-comment-vote .svg-icon:hover {
      color: blue;
    }

    .detail-comment-reply {
      padding: 0 5px;
      border-radius: 4px;
      margin-left: 15px;
      cursor: pointer;
      display: inline-block;
    }
    .detail-comment-reply:hover {
      color: blue;
      background-color: #99a2aa;
    }
  }
}
