html,
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: Arial,Microsoft YaHei,Microsoft Sans Serif,Microsoft SanSerf,微软雅黑;
}

div,
p,
ul,
li,
ol,
img,
h1,
h2,
h3,
h4,
h5,
h6,
form,
checkbox,
textarea {
  margin: 0;
  padding: 0;
}

/*!*首页指定视频缩略图*!*/
/*.topPhoto {*/
/*	width: 180px;*/
/*	height: 120px;*/
/*	background: no-repeat center center;*/
/*	background-size: cover;*/
/*}*/

/*!*取消默认搜索框存在输入记录后的黄色背景*!*/
/*.form-control:-webkit-autofill {*/
/*	-webkit-box-shadow: 0 0 0px 1000px white inset !important;*/
/*	background: white !important;*/
/*}*/
/*.form-control {*/
/*	-webkit-box-shadow: 0 0 0px 1000px white inset !important;*/
/*}*/
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

//清除浮动
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

//文字超出显示为...
.font-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

/*------ 头部样式 ------*/
// 头部整体
.header {
  display: flex;
}

// 头部背景图
.header-bgimg {
  display: block;
  width: 100%;
  height: 180px;
  background-size: cover;
  opacity: 0.6;
}

// 头部导航栏
.header-navbar {
  width: 100%;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  color: black;
  min-width: 1080px;

  .el-menu.el-menu--horizontal {
    border: none;
  }

  .el-menu-item:nth-child(1) {
    font-size: 20px;
    color: #f36c60;
  }

  .navbar-user {
    cursor: pointer;
  }
}
/*------ 头部样式 end------*/

/*------ 主体部分样式 ------*/
.app-main {
  background: url(/static/images/common.png) no-repeat;
  background-size: cover;
  min-height: calc(100vh - 350px);
  width: 100%;
  position: relative;
  overflow: hidden;
}
// .fixed-header + .app-main {
//     padding-top: 50px;
// }

// .hasTagsView {
//     .app-main {
//         /* 84 = navbar + tags-view = 50 + 34 */
//         min-height: calc(100vh - 84px);
//     }

//     .fixed-header + .app-main {
//         padding-top: 84px;
//     }
// }
/*------ 主体部分样式 end ------*/

/*------ 底部样式 ------*/
.footer {
  margin: 10px;
  min-width: 1080px;
  height: 150px;
  background-color: #f6f9fa;
  font-size: 18px;
  text-align: center;
  padding: 0 50px;
}

.footer-link-a {
  float: left;
  width: 60%;
  text-align: left;

  h3 {
    color: red;
    margin: 20px 0;
  }
}

.footer-link-b {
  float: right;
  width: 30%;
  position: relative;

  li {
    display: inline-block;
    width: 30%;
    text-align: center;

    img {
      width: 100%;
    }

    span {
      display: block;
      text-align: center;
      margin: 5px 0;
    }
  }
}
.footer-title {
  margin: 20px;
  font-size: 24px;
  color: yellowgreen;
}
/*------ 底部样式 end------*/

/*------ 首页样式 ------*/
.index-recommend {
  margin: 50px auto;

  h3 {
    font-size: 24px;
    color: #f36c60;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 6px;
  }
  .name {
    text-align: center;
    margin: 5px 0;
  }
  .time {
    font-size: 13px;
    color: #999;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }
}
/*------ 动漫展示图片大小 ------*/
.image {
  width: 200px;
  height: 300px;
}
.image-index{
  width: 100%;
  height: 250px;
}
.image-big{
  width: 250px;
  height: 350px;
}
.image-small{
  width: 150px;
  height: 250px;
}

/* ------ 关于信息类 ------*/
.about-title{
  padding-bottom: 10px;
  border-bottom: solid 1px #008080;
}