.user {
  /* background-image: url("assets/css/icon.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divider {
  width: 70%;
  margin: 2.5rem 15%;

  .el-divider__text {
    font-size: 2rem;
  }
}

.login-form {
  margin: 1.875rem 35%;

  .login-rem{
    margin: 0 auto 10px auto;
  }

  .login-notice {
    color: #bbb;
    margin-left: 10px;
    font-size: 0.625rem;
  }
}

.tip-right{
  margin: 5px;
  float: right;
  font-size: 0.75rem;
  color: #0000FF;
}
